

a{
    text-decoration: none;
}

input{
    display: block;
    margin: auto;
    margin-bottom: 15px;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

.logo{
    margin-top: 0px;
    height: 175px;
    width: 175px;
}

.contenedor-productos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.producto-imagen{
    margin: 1rem;
    gap: 1rem;
    height: 225px;
    width: 225px;
    max-width: 100%;
}