

a{
    text-decoration: none;
}

input{
    display: block;
    margin: auto;
    margin-bottom: 15px;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

.logo{
    margin-top: 0px;
    height: 175px;
    width: 175px;
}

.contenedor-productos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.producto-imagen{
    margin: 1rem;
    gap: 1rem;
    height: 225px;
    width: 225px;
    max-width: 100%;
}

.carrito-vacio{
    display: none;
}

.carrito-comprado{
    display: none;
}

.carrito-producto{
    display: flex;
    justify-content: space-between;
    background-color: rgb(196, 196, 196);
    padding: 2rem;
}

.carrito-producto-imagen{
    width: 4rem;
}

.carrito-producto-eliminar{
    border: 0;
    background-color: transparent;
    color: red;
}

.contenedor-carrito{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.carrito-acciones{
    display: flex;
    justify-content: space-between;
}

.carrito-acciones-total{
    display: flex;
}